<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />
    <link rel="stylesheet" href="../css/style.css">
    <title>Food 4 Thought</title>
</head>
<body class="bg-blue-400 font-serif text-black h-screen flex flex-col items-center">
    <header class="flex w-full flex-col h-1/6 -mt-10">
        <div class="w-full flex justify-center h-auto"><img src="../images/Food 4 Thought.gif" alt="Food 4 Thought gif file"></div>
    </header>
    
    {{{body}}}
    
    <footer class="absolute bottom-5">
        <ul class="flex flex-row justify-center my-10 responsiveDiv">
            <li><a href="https://github.com/CalCar0707" target="_blank" class="fa fa-github mx-10 text-2xl text-white linkHover">Callie</a></li>
            <li><a href="https://github.com/DaniaOn" target="_blank" class="fa fa-github mx-10 text-2xl text-white linkHover">Danica</a></li>
            <li><a href="https://github.com/jk377y" target="_blank" class="fa fa-github mx-10 text-2xl text-white linkHover">JamesK</a></lis=>
            <li><a href="https://github.com/eugerald" target="_blank" class="fa fa-github mx-10 text-2xl text-white linkHover">JamesR</a></liass=>
        </ul>
    </footer>
    <script src="./js/script.js"></script>
</body>
</html>