<div class="flex flex-col justify-center text-center w-1/4 m-10 p-3 bg-green-300 rounded-3xl divShadow shadow-black border-solid border-black border-2">
        <h2>Please Login</h2>
        <input type="text" id="email" placeholder="Email" required class="mx-6 my-10 divShadow rounded-md text-xl border-black border-2 text-center"/>
        <input type="password" id="password" placeholder="Password" required class="m-6 divShadow rounded-md text-xl border-black border-2 text-center"/>  
        <button class="mx-6 my-10 divShadow rounded-md text-xl border-black border-2 bg-blue-400 text-center">
            Button
          </button>
    </div>